* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
}

#app {
    position: relative;

    width: 100vw;
    height: 100vh;
}

.back-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #009688;
    z-index: -1;

}

.back-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #dbdbd2;
    z-index: -1;
}


/* ui */
#ui-wrapper {
    width: 100vw;
    height: 100vh;

    padding: 25px;
}

#ui {
    width: 1300px;
    /* test */
    display: flex;

    height: 100%;
    
    margin: 0 auto;

    background-color: white;
}

#ui * {
    /* border: dotted 1px red; */
}


/* sidebar */
#side-bar {
    width: 30%;
}

#side-bar #side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;

    padding: 10px;

    background-color: #eaeaea;
}

#side-bar #user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

#side-bar #user-profile img {
    height: 100%;
    border-radius: 50%;
}

#side-buttons {
    display: flex;
    gap: 20px;

    padding: 0 15px;
}


#notification-reminder {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8edafc;

    padding: 14px 20px;
}

#notification-reminder .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    padding: 6px;

    border-radius: 50%;

    background-color: white;

}


#notification-reminder span {
    display: block;
}

#notification-reminder a {
    color: #444;
}



#active-chat {
    width: 70%;
}