* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
}

#app {
    position: relative;

    width: 100vw;
    height: 100vh;
}

.back-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #009688;
    z-index: -1;

}

.back-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #dbdbd2;
    z-index: -1;
}


/* ui */
#ui-wrapper {
    width: 100vw;
    height: 100vh;

    padding: 25px;
}

#ui {
    width: 1300px;
    /* test */
    display: flex;

    height: 100%;
    
    margin: 0 auto;

    background-color: white;
}

#ui * {
    /* border: dotted 1px red; */
}


/* sidebar */
#side-bar {
    width: 30%;
    border-right: 1px solid #e9ebeb;
}

#side-bar #side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;

    padding: 10px;

    background-color: #eaeaea;
}

#user-profile, 
#chat-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

#user-profile img, 
#chat-profile img {
    height: 100%;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 20px;

    padding: 0 15px;
}


/* notification reminder */
#notification-reminder {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8edafc;

    padding: 14px 20px;
}

#notification-reminder .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    padding: 6px;

    border-radius: 50%;

    background-color: white;

}

#notification-reminder span {
    display: block;
}

#notification-reminder a {
    color: #444;
}

/* /notification reminder */


/* chat list */

#chat-list .chat-preview {
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;

    height: 80px;

    padding: 10px 20px;

    border-bottom: solid 1px #e9ebeb;
}
#chat-list .user-pic {
    height: 100%;
    border-radius: 50%;
}

.chat-preview .last-message {
    color: #888;
    margin-top: 6px;
}

.chat-preview .last-message-time {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* / chat list */


/* active-chat-wrapper */
#active-chat-wrapper {
    width: 70%;
}


/* top-bar */

#chat-profile span {
    color: #777;
}


#chat-profile-image {
    height: 100%;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    padding: 12px 10px;

    background-color: #eaeaea;
}

#top-bar .buttons {
    color: #b1b1b1;
}

/* / top-bar */


/* active-chat */

#active-chat {
    height: calc(100% - 70px - 70px);
    background-image: url('../img/mine.jpg');
}


#active-chat .container {
    /* contenitore diretto dei messaggi della chat */

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;

    max-width: 800px;

    margin: 0 auto;

    padding-top: 50px;
}


/* message */

.message {
    position: relative;

    max-width: 320px;

    border-radius: 8px;
    background-color: #d5f9ba;

    padding: 18px 16px;
}

.message .time {
    position: absolute;
    bottom: 6px;
    right: 6px;

    font-size: 7px;
    color: #999;
}

.message.sent {
    align-self: flex-end;
}

.message.received {
    background-color: white;
}

/* /message */




/* / active-chat */



#message-bar {
    display: flex;
    gap: 10px;

    height: 70px;

    padding: 10px;

    background-color: #f3eeea;
}

#message-bar > * {
    height: 100%;
}

#message-bar button {
    background-color: transparent;
    border: transparent;

    padding: 0 38px;

    cursor: pointer;

    font-size: 1.4em;
    color: #6b7376;
}

#message-bar input {
    flex-grow: 1;

    padding: 20px 15px;

    border: transparent;
    border-radius: 6px;

}


/* / active-chat-wrapper */
